    a:link{
        color: greenyellow;
        font-family: "consolas", sans-serif;
        font-style: italic;
        font-weight: bold;
        text-decoration: green dotted underline;
        font-size: 20px;
    }
    a:visited{
        color: red;
    }
    A:hover{
        color: greenyellow;
    }
    img{
       float: left;
       padding: 02px;
    
    }
    tr:hover{
        color: greenyellow;
    }
    h1{
    text-shadow: 0px 0px 10px greenyellow, 0px -5px 5px blue; 
    }

    
        

    
    h1{ 
        
        background-repeat: no-repeat;
        background-attachment: fixed;
        
        border-left-width: 10px;
        border-left-color: green;
        color: green;
        text-decoration: green dotted underline;
    }

    body{
        background-image: url("tarilogo.jpeg");  
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
    }

    h2{ 
        
        background-repeat: no-repeat;
        background-attachment: fixed;
        
        border-left-width: 10px;
        border-left-color: green;
        color: green;
        text-decoration: green dotted underline;
    }

     h3{ 
        
        background-repeat: no-repeat;
        background-attachment: fixed;
        border-left-style: double;
        border-left-width: 10px;
        border-left-color: green;
        color: green;
        text-decoration: green dotted underline;
    }
    section{
        background-repeat: no-repeat;
        background-attachment: fixed;
        color: green;
        font-family: "consolas", sans-serif;
        font-style: italic;
        font-weight: bold;
        text-decoration: green dotted underline;
        font-size: 25px;
    }

    p{
        
        background-repeat: no-repeat;
        background-attachment: fixed;
        padding: 5px;
           
        color: green;
        font-family: "consolas", sans-serif;
        font-style: italic;
        font-weight: bold;
        text-decoration: green dotted underline;
        font-size: 25px;
    }

    p7{
        float: right;
        padding: 5px;
        color: green;
        font-family: "consolas", sans-serif;
        font-style: italic;
        font-weight: bold;
        text-decoration: green dotted underline;
        font-size: 25px;
    }

    p7:hover{
       color: greenyellow;
    }

      form{
        color: green;
        font-family: "consolas", sans-serif;
        font-style: italic;
        font-weight: bold;
        text-decoration: green dotted underline;
        font-size: 25px;
    }


    button{
        background-color: black;
        color: green;
        font-family: "consolas", sans-serif;
        font-style: italic;
        font-weight: bold;
        text-decoration: green dotted underline;
        font-size: 20px;
    } 
    
    button:hover{
       color: greenyellow;
    }


    input{
        background-color: black;
        color: green;
        font-family: "consolas", sans-serif;
        font-style: italic;
        font-weight: bold;
        text-decoration: green dotted underline;
        font-size: 20px;
    }

    p#address{
        
        margin-left: 200px;
        
        color: green;
        font-family: "consolas", sans-serif;
        font-style: italic;
        font-weight: bold;
        text-decoration: green dotted underline;
        font-size: 20px;
    }

    p#phone{
        
        margin-left: 200px;
        
        color: green;
        font-family: "consolas", sans-serif;
        font-style: italic;
        font-weight: bold;
        text-decoration: green dotted underline;
        font-size: 20px;
    }

    p#email{
        
        margin-left: 200px;
        
        color: green;
        font-family: "consolas", sans-serif;
        font-style: italic;
        font-weight: bold;
        text-decoration: green dotted underline;
        font-size: 20px;
    }