a:link{
        color: greenyellow;
    }

a:visited{
        color: red;
    }
A:hover{
        color: greenyellow;
    }
img{
       float: right;
       padding: 5px;
    }

button:hover{
       color: greenyellow;
    }

   
img:hover{
       color: greenyellow;
    }
tr:hover{
    color: greenyellow;
}
td:hover{
    color: greenyellow;
}

p{
    background-image: url("Tarlogo.jpeg");
}

td{
        background-image: url("Tarlogo.jpeg");
        color: green;
        font-family: "consolas", sans-serif;
        font-style: italic;
        font-weight: bold;
        text-decoration: green dotted underline;
        font-size: 20px;
    }

    



button{
        background-color: black;
        color: green;
        font-family: "consolas", sans-serif;
        font-style: italic;
        font-weight: bold;
        text-decoration: green dotted underline;
        font-size: 20px;
    }     

body{
        color: green;
        background-image: url("11Tarlogo.jpeg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        font-family: "consolas", sans-serif;
        font-style: italic;
        font-weight: bold;
        text-decoration: green dotted underline;
        font-size: 20px;


    }

label{
        background-image: url("Tarlogo.jpeg");
        color: green;
        font-family: "consolas", sans-serif;
        font-style: italic;
        font-weight: bold;
        text-decoration: green dotted underline;
        font-size: 20px;
    }

input{
        background-color: black;
        color: green;
        font-family: "consolas", sans-serif;
        font-style: italic;
        font-weight: bold;
        text-decoration: green dotted underline;
        font-size: 20px;
    }


    p#address{
        
        margin-left: 200px;
        
        color: green;
        font-family: "consolas", sans-serif;
        font-style: italic;
        font-weight: bold;
        text-decoration: green dotted underline;
        font-size: 20px;
    }

    p#phone{
        
        margin-left: 200px;
        
        color: green;
        font-family: "consolas", sans-serif;
        font-style: italic;
        font-weight: bold;
        text-decoration: green dotted underline;
        font-size: 20px;
    }

    p#email{
        
        margin-left: 200px;
        
        color: green;
        font-family: "consolas", sans-serif;
        font-style: italic;
        font-weight: bold;
        text-decoration: green dotted underline;
        font-size: 20px;
    }
    
